apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-data 
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /tmp/data # КЛЮЧЕВОЕ: Путь к директории на ноде (хосте, на котором развёрнут кластер)
