apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  namespace: monitoring
spec:
  ingressClassName: nginx
  rules:
  - host: "app.test.com"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: grafana
            port:
              number: 80


# 1. Установите NGINX Ingress Controller.
# 2. Настройте его сервис как NodePort или LoadBalancer.
# 3. Создайте ресурс Ingress:
