apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  type: NodePort # Ensure the type is also correct
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30000 # Co
