cloud_id  = ""
folder_id = ""

# Хост на котором развёрнута база данных, если в качестве базы данных используется контейнер docker.
DB_HOST = "db"
# Пользователь для подключения к базе данных на хосту DB_HOST
DB_USER = "animals"
# Пароль пользователя DB_USER
DB_PASSWORD = "animalspwd"
# Имя базы данных к которой подключается пользователь DB_USER
DB_NAME = "animals"

# Данные для подключения к базе mysql
MYSQL_ROOT_PASSWORD = "password"
MYSQL_USER = "animals"
MYSQL_PASSWORD = "animalspwd"
MYSQL_DATABASE = "animals"