apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-vol-front
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "" 
  hostPath:
    path: /home/ubuntu/localVolume/front
