TF_VAR_yc_cloud_id="b1gr160bk1vuruuer3om"
TF_VAR_yc_folder_id="b1gdmpusv51ippn2psip"

TF_VAR_auth_key_sa_yandex="~/keys/authorized-key-diplom.json"   # Файл авторизации подключения сервисного акаунта к облаку,
TF_VAR_auth_key_s3="~/.aws/credentials-diplom"
TF_VAR_ssh_public_key="~/.ssh/id_rsa.pub"                       # Публичный ключ ssh на локальной машине для подключения по ssh к виртуальным машинам

TF_VAR_db_host="mysql"
TF_VAR_db_user="mysql"
TF_VAR_db_password="mysql"
TF_VAR_db_name="mysql"
TF_VAR_mysql_root_password="mysql"

TF_VAR_secret=""
TF_VAR_token="ghp_"
TF_VAR_url="http://atlantis.kvlpro.site"
TF_VAR_username="dreadsolnce"
TF_VAR_repo_github="github.com/dreadsolnce/*"

TF_VAR_file_privkey="~/cert/privkey.pem"
TF_VAR_file_fullchain="~/cert/fullchain.pem"
TF_VAR_file_chain="~/cert/chain.pem"

TF_VAR_token_gitlab_agent="glagent-..."
TF_VAR_token_gitlab_runner="glrt-..."
