[all]

%{~ for i in master-node ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]}    ip=${i["network_interface"][0]["ip_address"]}    fqdn=${i["fqdn"]}

%{~ endfor ~}

[kube_control_plane]

%{~ for i in master-node ~}

${i["name"]}

%{~ endfor ~}

[etcd]

%{~ for i in master-node ~}

${i["name"]}

%{~ endfor ~}

[kube_node]

[calico_rr]

[k8s_cluster:children]
kube_control_plane
kube_node
calico_rr
