apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-data-sc
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: sc-data
  hostPath:
    path: /tmp/data # КЛЮЧЕВОЕ: Путь к директории на ноде (хосте, на котором развёрнут кластер)
