SECRET=<кодовое слово для webhook github>
TOKEN=<токен github>
URL=http://<доменное имя вашего сайта atlantis>
USERNAME=<имя пользователя github>
REPO_ALLOWLIST="github.com/<имя пользователя github>/*"

YC_CLOUD_ID="<яндекс cloud id>"
YC_FOLDER_ID="яндекс folder id"

AWS_ACCESS_KEY_ID="открытый ключ для доступа к s3"
AWS_SECRET_ACCESS_KEY="закрытый ключ для доступа к s3"

