* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.title {
    font-weight: 600;
    font-size: 60px;
    margin-top:0;
    margin-bottom:80px;
}

b {
    font-weight: 600;
}

.container {
    width: 1168px;
    # width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 178px;
    padding-bottom: 80px;
}

.image {
    margin-bottom: 60px;
}

.text-wrapper {
    display: flex;
    gap: 32px;
    margin-bottom: 80px;
}

.text {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    line-align: left;
    margin: 0;
    width: 560px;
}

.gray-block {
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 37px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
}

.subtitle {
    font-size: 46px;
    font-weight: 600;
    line-height: 54px;
    margin: 0;
    width: 518px;
}

.form {
    width:416px;
}

.form-field {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 11px 24px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-bottom: 8px;
}

.form-button {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #3D3BFF;
    padding: 11px 54px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    border: none;
    margin-top: 16px;
}