---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-data-sc
spec:
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 400Mi             # ДОПОЛНИТЕ: Какой объем хранилища вы хотите передать в контейнер. Должно быть меньше или равно параметру storage из PV
  storageClassName: sc-data      # ДОПОЛНИТЕ: Имя StorageClass. Должно совпадать с объявленным ранее

