{{- if .Values.service.enabled}}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  selector:
    app: {{ .Values.labels.app }}
  ports:
  - name: web-port-80
    protocol: TCP
    port: 80
    targetPort: port-nginx
{{- end }}