[kube_control_plane]
%{ for i in master-node ~}
${i["name"]}    ansible_host=${i["network_interface"][0]["nat_ip_address"]}     ip=${i["network_interface"][0]["ip_address"]}    etcd_member_name=etcd
%{ endfor ~}

[etcd:children]
kube_control_plane

[calico_rr]

[k8s_cluster:children]
kube_control_plane
calico_rr
